<turbo-frame id="recent-items" class="space-y-6">
  <h2 class="text-xl font-bold text-white">Recent Items</h2>
  <div class="grid grid-cols-2 gap-4">
    <% recent_items.each do |item| %>
      <%= render "wardrobe_items/wardrobe_item", wardrobe_item: item %>
    <% end %>

    <% if recent_items.empty? %>
       <div class="col-span-2 text-center py-8 bg-white/5 rounded-xl border border-white/10 border-dashed">
         <p class="text-gray-400 text-sm">No items yet.</p>
       </div>
    <% end %>
  </div>
</turbo-frame>
